{
  "Tenants": [
    {
      "Name": "Server",
      "CredentialType": "Certificate",
      "TenantId": "d1d92357-0fd1-4f9d-853e-a2bf3d687614",
      "CertificateThumbprint": "9E8CAA14466AC93D09F2E9474A9CAC087E472192",
      "CredentialAppId": "6b50fb98-4af8-4f5e-81b4-a0fc2da0c99d"
    },
    {
      "Name": "Client",
      "CredentialType": "Certificate",
      "TenantId": "4ba28e96-6fb2-4d67-b2ab-193a55ea197a",
      "CertificateThumbprint": "9E8CAA14466AC93D09F2E9474A9CAC087E472192",
      "CredentialAppId": "6b50fb98-4af8-4f5e-81b4-a0fc2da0c99d"
    }
  ],
  "Apps": [
    {
      "CredentialType": "Password",
      "Tenant": "Client",
      "Name": "AAdXTenantAuth-ClientPwd"
    },
    {
      "CredentialType": "Certificate",
      "Tenant": "Client",
      "Name": "AAdXTenantAuth-ClientCert"
    },
    {
      "Name": "AAdXTenantAuth-Server",
      "Tenant": "Server"
    }
  ]
}
